table {
  min-width: 1200;
  overflow: scroll;
}
thead {
  font-size: 16px;
  background: #ABABAB;
  color: #0047AB;
  font-weight: 800;
}
tbody {
  vertical-align: top;
  font-size: 12px;
}

.package-description {
  max-width: 600px;
  overflow: wrap;
}
.pkgName {
  vertical-align: top;
  white-space: nowrap;
}
.optional {
  text-align: center;
}
.pkginfo {
  width: 500px;
  min-width: 500px;
}
li.di.debunked {
  color: white; 
  background-color: #751e16;
} 